node_modules
dist
dist-ssr
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src-tauri/target
src-tauri/Cargo.lock
src-tauri/gen
pnpm-lock.yaml
*.tsbuildinfo
